body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

a {
    color: #64cdfe;
    text-decoration: none;
}

a:hover {
    color: #1f3b48;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Jost", sans-serif;
}

/* MAIN PAGE */
#header {
    transition: all 0.5s;
    z-index: 997;
    padding: 15px 0;
    background: rgba(40, 58, 90, 0.9);
}

#header .logo {
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#header .logo a {
    color: #fff;
}

#header .logo img {
    max-height: 40px;
}

.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    white-space: nowrap;
    transition: 0.3s;
}

.navbar a i {
    font-size: 12px;
    line-height: 0;
}

.navbar a:hover,
.navbar li:hover > a {
    color: #47b2e4;
}

section {
    padding: 60px 0;
    overflow: hidden;
}

.section-bg {
    background-color: #f3f5fa;
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
}

.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #37517e;
}

.section-title p {
    margin-bottom: 0;
}

.services .icon-box {
    box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
    padding: 50px 30px;
    margin: 0.5rem;
    transition: all ease-in-out 0.4s;
    background: #fff;
}

.services .icon-box .icon {
    margin-bottom: 10px;
}

.services .icon-box .icon i {
    color: #47b2e4;
    font-size: 36px;
    transition: 0.3s;
}

.services .icon-box h4 {
    font-weight: 500;
    font-size: 24px;
}

.services .icon-box h4 a {
    color: #37517e;
    transition: ease-in-out 0.3s;
}

.services .icon-box p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}

.services .icon-box:hover {
    transform: translateY(-10px);
}

.services .icon-box:hover h4 {
    color: #47b2e4;
}

.contact .info {
    padding: 30px;
    background: #fff;
    width: 100%;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);
}

.contact .info i {
    font-size: 20px;
    color: #47b2e4;
    float: left;
    width: 44px;
    height: 44px;
    background: #e7f5fb;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.contact .info h4 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #37517e;
}

.contact .info p {
    margin-bottom: 20px;
    font-size: 14px;
    color: #6182ba;
}

.contact .info .email p {
    padding-top: 5px;
}

.contact .info .social-links {
    padding-left: 60px;
}

.button-main {
    background: #47b2e4;
    border: 0;
    padding: 12px 34px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
}

.button-main:hover {
    background: #209dd8;
}

#footer {
    font-size: 14px;
    background: rgba(40, 58, 90, 0.9);
}

#footer .footer-bottom {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
}

#footer .copyright {
    float: left;
}

/* END MAIN PAGE */

/* LOGIN PAGE */
.login-card {
    padding: 30px;
    background: #fff;
    width: 100%;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);
}

.login-title h2 {
    text-align: center;
    padding-bottom: 30px;
    font-weight: 600;
    color: #37517e;
}

/* END LOGIN PAGE */

/* REGISTER PAGE */
/* END REGISTER PAGE */